$primary: #cf152b;

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: auto;
    background-color: $primary;
    font-family: sans-serif;
    overflow: hidden;
    border-bottom: 0.18rem solid white;

    a {
        color: white;
        margin: 0 1.4rem;
        text-decoration: none;
        &:not(.brand) { 
            &:hover {
                text-decoration: overline;
                color: black;
            }
            &.active {
                text-decoration: line-through;
            }
        }
        &.brand {
            &:hover, &.active {
                text-decoration: none;
                color: white;
            }
        }
    }
    .brand {
        font-variant: small-caps;
    }
}

nav {
    width: 100%;
    justify-content: space-around;
    display: flex;
}

section:first-of-type {
    margin-top: 8rem;
}

section.row {
    padding: 4rem 0;
}

article.container-fluid {
    margin: 0 2rem;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-image: radial-gradient(circle, #969590, #424845);
    background-image: -o-radial-gradient(circle, #969590, #424845);
    background-image: -ms-radial-gradient(circle, #969590, #424845);
    background-image: -moz-radial-gradient(circle, #969590, #424845);
    background-image: -webkit-radial-gradient(circle, #969590, #424845);
}

.logo {
    display: block;
    width: 30rem;
    height: 30rem;
    margin: auto;
}

.form-footer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-error-message {
  display: inline-block;
  margin-left: 1rem;
}

article.container-fluid {
    margin: 0 2rem;
    overflow: hidden;
}

.main {
  margin: 0 1.2rem;
}

.btn.btn-default {
  width: 100%;
}

@media (max-width: 700px) {
    body {
        font-size: 14px;
    }
    header {
        a {
            margin: 0 0.28rem;
        }
    }
}