.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-image: radial-gradient(circle, #969590, #424845);
    background-image: -o-radial-gradient(circle, #969590, #424845);
    background-image: -ms-radial-gradient(circle, #969590, #424845);
    background-image: -moz-radial-gradient(circle, #969590, #424845);
    background-image: -webkit-radial-gradient(circle, #969590, #424845);
}

.logo {
    width: 300px;
    height: 300px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

section:first-of-type {
    margin-top: 6rem;
}