// Bootstrap
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

// Shared
@import 'shared/main.scss';
@import 'shared/bootstrapOverwrite.scss';

// Components
@import 'components/banner.scss';
@import 'components/contact.scss';
@import 'components/countdown.scss';
@import 'components/footer.scss';
@import 'components/header.scss';
@import 'components/location.scss';
@import 'components/schedule.scss';
@import 'components/speakers.scss';
@import 'components/sponsors.scss';
@import 'components/subscribe.scss';

.form-footer {
    flex-direction: column;
    display: flex;
    align-items: center;
}
