.about{
  border-top: 1px solid #f2f2f2;
  margin-top: 35px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  color: #000000;

  h4 {
    color: #323232;
    font-size: 50px;
    font-weight: 700;
    margin-top: 25px;
    text-align: center;
  }

}