<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<link rel="shortcut icon" type="image/png" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="css/styles.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="MaltaJS"/>
  <meta property="og:title" content="MaltaJS developers community" />
  <meta property="og:description" content="Meetups, talks, hackathons: share knowledge and fun!" />
  <meta property="og:image" content="http://146.185.138.109/images/home_bg_top.jpg" />
  <meta charset="UTF-8">
  <title>Maltajs</title>
</head>
<body>
  <div id="main">
